<!-- app/views/shared/_footer.html.erb -->

<footer class="bg-gray-800 text-gray-200 py-20">
  <div class="container mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
    <div class="box">
      <h1 class="text-white text-2xl font-bold italic mb-4">Team ThriftBasket</h1>
    </div>
    <div class="box">
      <h2 class="text-xl mb-4">About Us</h2>
      <ul>
        <li class="mb-2 opacity-75">Careers</li>
        <li class="mb-2 opacity-75">Our Stores</li>
        <li class="mb-2 opacity-75">Our Cares</li>
        <li class="mb-2 opacity-75">Terms & Conditions</li>
        <li class="mb-2 opacity-75">Privacy Policy</li>
      </ul>
    </div>
    <div class="box">
      <h2 class="text-xl mb-4">Customer Care</h2>
      <ul>
        <li class="mb-2 opacity-75">Help Center</li>
        <li class="mb-2 opacity-75">How to Buy</li>
        <li class="mb-2 opacity-75">Track Your Order</li>
        <li class="mb-2 opacity-75">Corporate & Bulk Purchasing</li>
        <li class="mb-2 opacity-75">Returns & Refunds</li>
      </ul>
    </div>
    <div class="box">
      <h2 class="text-xl mb-4">Contact Us</h2>
      <ul>
        <li class="mb-2 opacity-75">Email: thriftbasket.help@gmail.com</li>
        <li class="mb-2 opacity-75">Phone: +880 1734 234683</li>
      </ul>
    </div>
  </div>
</footer>
