
<div class=" min-h-screen container mx-auto mt-8 text-center">
  <h1 class="text-2xl font-bold mb-4">MY WISHLIST</h1>
  <p>It is empty here.</p>
  <p>Personalize your shopping experience with your Wishlist.</p>
  <p class="mt-4">Already have items saved?</p>
  <%= button_to 'SIGN IN / REGISTER', new_user_session_path,  class: "bg-gray-700 text-white font-bold py-2 px-4 rounded mt-4 inline-block" %>
</div>
